p
  a.button(href='../books/new') Create New Book
p
  | Filters
  | 
  a(href='../books/allBooks') All
  | 
  a(href='../books/overdueBooks') Overdue
  | 
  a(href='../books/checkedBooks') Checked Out
table
  thead
    tr
      th Title
      th Author
      th Genre
      th Year Released
  tbody
