extends layout
//Here is the main content
block content
    h1 #{title}
    p
      a.button(href='new') Create New Loan
    p
      | Filters 
      a(href='../loans/allLoans') All
      |  
      a(href='../loans/overdueLoans') Overdue
      |  
      a(href='../loans/checkedLoans') Checked Out
    include ./partials/_loansTable.jade
