doctype html
html
  head
  
  //
    Basic Page Needs
    ––––––––––––––––––––––––––––––––––––––––––––––––––
  title Library Manager
  //
    CSS
    ––––––––––––––––––––––––––––––––––––––––––––––––––
  link(rel='stylesheet', href='static/stylesheets/style.css')
  
  //
    Header Menu
    ––––––––––––––––––––––––––––––––––––––––––––––––––
  nav
    ul
      li
        a(href='books') Books
      li
        a(href='patrons') Patrons
      li
        a(href='loans') Loans
      
  body
    //rest of the content
    block content 
