doctype html
html
  head
  
  //
    Basic Page Needs
    ––––––––––––––––––––––––––––––––––––––––––––––––––
  title Library Manager
  //
    CSS
    ––––––––––––––––––––––––––––––––––––––––––––––––––
  link(rel='stylesheet', href='../static/stylesheets/style.css')
  
  //
    Header Menu
    ––––––––––––––––––––––––––––––––––––––––––––––––––
  nav
    ul
      li
        a(href="../") Home
      li
        a(href='../books/allBooks') Books
      li
        a(href='../patrons/allPatrons') Patrons
      li
        a(href='../loans/allLoans') Loans
      
  body
    //rest of the content
    block content 
