doctype html
html
  head
  
  //
    Basic Page Needs
    ––––––––––––––––––––––––––––––––––––––––––––––––––
  title Library Manager
  //
    CSS
    ––––––––––––––––––––––––––––––––––––––––––––––––––
  link(rel='stylesheet', href='http://localhost:3000/static/stylesheets/style.css')
  
  //
    Header Menu
    ––––––––––––––––––––––––––––––––––––––––––––––––––
  nav
    ul
      li
        a(href="http://localhost:3000/") Home
      li
        a(href='http://localhost:3000/books/allBooks') Books
      li
        a(href='http://localhost:3000/patrons/allPatrons') Patrons
      li
        a(href='http://localhost:3000/loans/allLoans') Loans
      
  body
    //rest of the content
    block content 
